# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



Subject: Follow-Up on Interview

Dear UA Team,

I hope this message finds you well. I wanted to express my appreciation for the recent interview opportunity and reiterate my enthusiasm for the Web Developer position.

I am eager to know if there are any updates on the status of my application. I am very interested in joining Urban  and contributing to maintaince and redevelopment of the website.

If there is any additional information needed from my end, please let me know. Thank you again for the opportunity, and I look forward to the possibility of working with UA.

Best regards,

Shamir Gibbons